html,
body {
  background-color: black;
}

h1,
h2,
h3 {
  color: white;
  padding-left: 16px;
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 12px;
}

.todo-card {
  border: 1px solid black;
  padding: 24px;
  background-color: #272b33;
  color: white;
  /* grid */
  display: grid;
  grid-template-columns: 20px 1fr 120px;
  gap: 24px;
  border-radius: 4px;
}

.todo-card button {
  background-color: white;
  height: 28px;
  width: 100px;
  border: none;
  border-radius: 8px;
}

.todo-description {
  grid-column: 2;
  padding: 16px 48px;
  background-color: #272b33;
  color: white;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 1em 0; */
}

.form-control {
  margin: 1rem 0;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

.form-control input,
.form-control textarea {
  margin: auto auto;
  width: 550px;
  padding: 0.5rem;
}
.completed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
}

form button {
  margin: 1rem 0;
  padding: 0.5em 1em;
  background-color: #fff;
  height: 32px;
  width: 100px;
  border: none;
  border-radius: 8px;
}

.todo-forms {
  display: flex;
  flex-direction: column;
}
