<head>
    <link rel="stylesheet" href="/styles/header.css">
</head>

<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/new">New Todo</a>
            </li>
        </ul>
    </nav>
</header>