<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      function routeAboutOnClick() {
        window.location.href = "/about";
      }

      function routeContactOnClick() {
        window.location.href = "/contact";
      }

      function routeLandingOnClick() {
        window.location.href = "/landing";
      }
    </script>
  </head>
  <body>
    <h1>Hello...</h1>
    <button onclick="routeAboutOnClick()">Go About Page</button>
    <button onclick="routeContactOnClick()">Go Contact Page</button>
    <button onclick="routeLandingOnClick()">Go Landing Page</button>
  </body>
</html>
